<div class="header">
    <NavLink href="/">
        <div class="logo">
            <img src="/images/logo.jpg" alt="Logo" />
        </div>
    </NavLink>
    <h1>Guldbaggens GlosApp</h1>
</div>


@code {

}
