
<div class="header">
    <NavLink href="/">
        <div class="logo">
            <img src="/images/logo.jpg" alt="Logo" />
        </div>
    </NavLink>
    <h1>Guldbaggens GlosApp</h1>

    <AuthorizeView>
        <Authorized>
            <NavLink href="/AnswerReview" class="header-icon-link">
                <div class="header-icon">
                    <i class="fa-regular fa-user-check"></i>
                </div>
            </NavLink>
        </Authorized>
    </AuthorizeView>
</div>
