.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #194C67;
    color: azure;
    height: 60px;
    width: 100%;
    /*display: none;*/ /* Dölj fottern som standard */
    /*@media (min-width: 1200px) {

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #194C67;
        color: azure;
        height: 60px;
        width: 100%;
    }*/
}
