
.header {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #F9A136;
    height: 100px;

    .logo {

        img {
            height: 75px;
            border-radius: 3rem;
        }
    }

    h1 {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: #194C67;
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .header-icon-link {
        display: flex; 
        align-items: center; 
        text-decoration: none; 
        color: inherit; 
    }

    .header-icon {
        font-size: 1.5rem; 
    }

    @media (max-width: 1200px) {
        height: 70px; 

        .logo img {
            height: 60px; 
        }

        h1 {
            font-size: 1.2rem; 
        }
    }
}
