main {


    .wrapper {
        background-color: (#CEDCDF);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        height: 90vh;
        padding: 1rem;

        @media (min-width: 1200px) {
            flex-direction: row;
            justify-content: space-around;
        }

        .btn {
            @media (min-width: 1200px) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .btn-primary {
                background-color: (#194C67);
                border: #194C67;
                margin: 1rem;
                width: fit-content;

                @media (min-width: 1200px) {
                    width: 6rem;
                }
            }
        }

        .carousel {
            object-fit: cover;

            @media (min-width: 1200px) {
                width: 40dvw;
            }

            img {
                width: 90dvw;
                height: 60dvw;
                object-fit: cover;
                border-radius: 1rem;

                @media (min-width: 1200px) {
                    width: 40dvw;
                    height: 30dvw;
                }
            }
        }
    }

    .wave-bg {
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220"%3E%3Cpath fill="%23CEDCDF" fill-opacity="1" d="M0,64L48,85.3C96,107,192,149,288,149.3C384,149,480,107,576,106.7C672,107,768,149,864,165.3C960,181,1056,171,1152,149.3C1248,128,1344,85,1392,64L1440,42L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"%3E%3C/path%3E%3C/svg%3E');
        background-size: cover;
        background-position: center;
        
        display: flex;
        align-items: center;
        justify-content: center;
    

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;

            @media (min-width: 1200px) {
                flex-direction:row;
            }

           
            .btn {
                @media (min-width: 1200px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                margin-top: 1rem;
            }

            .btn-primary {
                background-color: (#194C67);
                border: #194C67;
                margin: 1rem;
                width: fit-content;

                @media (min-width: 1200px) {
                    width: 6rem;
                }
            }
        }
    }
}
