@charset "UTF-8";
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4B0082;
  height: 100px;
}
.header .logo img {
  height: 75px;
  border-radius: 3rem;
}
.header .text h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #E6E6FA;
  animation: fadeInDown 1s ease-in-out;
  border: none; /* Tar bort eventuell kant */
  outline: none; /* Tar bort eventuell fokusram */
  background: none; /* Tar bort bakgrund */
  padding: 0; /* Tar bort eventuell inre marginal */
  margin: 0; /* Tar bort yttre marginal */
}
.header .text h2 {
  font-size: 0.8rem;
  color: #D8BFD8;
  animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.header .header-icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.header .header-icon {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .header {
    height: 70px;
  }
  .header .logo img {
    height: 60px;
  }
  .header h1 {
    font-size: 1.2rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6A3D9D;
  color: #D3D3D3;
  height: 60px;
  width: 100%;
  /*display: none;*/ /* Dölj fottern som standard */
  /*@media (min-width: 1200px) {

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #194C67;
      color: azure;
      height: 60px;
      width: 100%;
  }*/
}

main .wrapper {
  background-color: #E6C9FF;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  padding: 1rem;
}
@media (min-width: 1200px) {
  main .wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  main .wrapper .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
main .wrapper .btn .btn-primary {
  background-color: #194C67;
  border: #194C67;
  margin: 1rem;
  width: fit-content;
}
@media (min-width: 1200px) {
  main .wrapper .btn .btn-primary {
    width: 6rem;
  }
}
main .wrapper .carousel {
  object-fit: cover;
}
@media (min-width: 1200px) {
  main .wrapper .carousel {
    width: 40dvw;
  }
}
main .wrapper .carousel img {
  width: 90dvw;
  height: 60dvw;
  object-fit: cover;
  border-radius: 1rem;
}
@media (min-width: 1200px) {
  main .wrapper .carousel img {
    width: 40dvw;
    height: 30dvw;
  }
}
main .wave-bg {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220"%3E%3Cpath fill="%236A3D9D" fill-opacity="0.6" d="M0,64L48,85.3C96,107,192,149,288,149.3C384,149,480,107,576,106.7C672,107,768,149,864,165.3C960,181,1056,171,1152,149.3C1248,128,1344,85,1392,64L1440,42L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"%3E%3C/path%3E%3C/svg%3E');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .wave-bg .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  main .wave-bg .container {
    flex-direction: row;
    margin-top: 0rem;
  }
}
main .wave-bg .container .btn {
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  main .wave-bg .container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
main .wave-bg .container .btn-primary {
  background-color: #194C67;
  border: #194C67;
  margin: 1rem;
  width: fit-content;
}
@media (min-width: 1200px) {
  main .wave-bg .container .btn-primary {
    width: 6rem;
  }
}

.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
